*,
*::before,
*::after {
  box-sizing: border-box;
}

.Label,
.Label-text {
  display: block;
}
.Label {
  margin-bottom: 10px;
}
.Label-error {
  color: red;
}


.Message { font-weight: bold; }
.Message--success {color:green;}